body {
    padding-top: 56px; /* Adjust for fixed navbar */
}

section {
    padding: 60px 0;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.list-group-item {
    border: none;
    padding: 10px 0;
}

/* Ensure images and cards have the same height */
.img-fluid.rounded {
    object-fit: cover;
    height: 100%;
}

/* Style for buttons */
.btn-outline-primary, .btn-outline-secondary, .btn-outline-success {
    margin-right: 5px;
}